body {
  margin: 0;
  padding: 0;
  height: 100hv;
}
#couriosity-rover-box {
  border: 25px;
  border-color: blue;
}
#journey {
  position: absolute;

  height: auto;
  object-fit: fill;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 15px solid rgb(255, 108, 108);
}

#mars-sprite {
  width: 15%;
  position: absolute;
  left: 94px;
  top: 520px;
}
