.header {
  background: rgb(93, 93, 235);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 50px;
}

.curiosity-rover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  max-height: 60%;
  border: 15px solid rgb(255, 108, 108);
}

.curiosity-rover aside {
  float: right;
  padding-left: 20%;
}

.no-script-banner {
  background-color: rgb(237, 41, 57);
  padding: 30px;
}

.no-script-text {
  color: white;
  width: 60vw;
  margin: auto;
  text-align: center;
}
